.headerContainer{
  height: 5rem;

}


.headerContent{
  max-width: 1280px;
  height: 5rem;
  margin: 0 auto;
  padding: 0 16px;

  display: flex;
  align-items: center;
  justify-content: space-between;
  a{
    text-decoration: none;
  }
  a:hover{
    filter: brightness(50%)
  }

  nav{
    display: flex;
    align-items: center;
    gap: 14px;

    a{
      color: var(--text-default);
      text-decoration: none;
      transition: color .3s;
      font-size: 18px;
      &:hover{
        color:var(--gray-100);
      }
    }
    button{
      background: transparent;
      border: none;
    }


  }

}