.button{
    height: 40px;
    font-size: 16px;
    border-radius:8px;
    background-color:var(--gray-800);
    border:1px solid var(--text-default);
    color: var(--text-default);
    font-weight: bold;
    display:flex;
    align-items: center;
    justify-content: center;
    transition: all 0.5s;
  }
.button:hover{
    transform: scale(1.05);
    background-color: var(--gray-700);
  }